body { background-color: white;
}

h2 {color: rgb(57, 30, 119);
}

h3 {color:rgb(8, 12, 59);
}
hr { 
    border-style: none;
    border-top-style: dotted;
    height: 2px;
    width: 10%;
    border-width: 8px;
    border-color: rgb(202, 202, 202);
}